.faq {
  background-color: #000;
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-title {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 30px;
  width: 70%;
}

/* FAQ box */
.faq-item {
  width: 70%;
  background-color: #303030;
  margin-bottom: 10px;
}

/* QUESTION BAR */
.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px;
  font-size: 1.3rem;
  color: #fff;
}

/* PLUS BUTTON (RIGHT SIDE ONLY) */
.faq-icon {
  background: none;
  border: none;
  color: #fff;
  font-size: 2.5rem;
  cursor: pointer;
  line-height: 1;
}

/* ANSWER */
.faq-answer {
  background-color: #303030;
  color: #fff;
  font-size: 1.1rem;
  padding: 20px 22px;
  line-height: 1.6;
  border-top: 2px solid #000;
}
